VITE_SUPABASE_URL=https://xesdwrzfcejvjedkmcic.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhlc2R3cnpmY2VqdmplZGttY2ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzE5MzcwNjgsImV4cCI6MjA0NzUxMzA2OH0.MAWzEVk-IEBNgQrpeYmBoqEUGiOKW8q_4g_un_2Azz8